<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href={{ url_for( 'static', filename='stylesssss.css' ) }} />
    </head>
    <body>
        <ol> 
        <p class="song_name"> {{song}} </p> 
        <p class="artist"> {{artist}} </p>
          
          
        <img src ={{cover}} />    
        <audio controls>
          <source src={{preview}} />
        </audio>
          <p><b><a href={{geniuslink}} target="_blank">Lyrics</a></b></p>
        </ol> 
    </body>
</html>
